<h3>Contact Ryan</h3>
<form action="https://formspree.io/f/mrgrzbpb" method="POST">
    <div class="row">
        <div class="six columns">
        <label for="exampleEmailInput">Your email</label>
        <input class="u-full-width" type="email" placeholder="me@example.com" id="emailHelp">
        </div>
    </div>
    <label for="exampleMessage">Message</label>
    <textarea class="u-full-width" name="message" placeholder="Hi Ryan…"></textarea>
    <input class="button-primary" type="submit" value="Submit">
</form>
