<div class="section">
    <div class="row flex flex-h-center">
        <div class="column">
            <h5>Work Stuff</h5>
            <p>Hey &#128075; I'm Stutes!</p>
            <p>I’m an engineering leader with broad experience in full-stack mobile and web development. Throughout my career, I’ve collaborated closely with cross-functional teams – product, design, data, platform, marketing – and I excel at communicating and working across diverse groups. With a knack for organization, I thrive in environments where clear communication and collaboration are key.</p>
            <p>I’m passionate about products that create positive social impact, I place high value on building diverse teams, I'm a strong advocate for coaching and feedback, and I love diving into system architecture.</p>
            <p>As an open and direct communicator; I build trust quickly and foster strong relationships. I’m always looking to balance fun with getting things done — driving business goals and scaling tech by leading teams and building lasting, impactful products. </ p>
            <p>I’m seeking an engineering leadership role where I can leverage my unique blend of technical expertise and people skills to lead high-performing teams and deliver value at scale. </p>

            <strong>Tech and languages:&nbsp;</strong>
            <pre><code>JavaScript, Swift, Kotlin, Ruby, HTML/CSS, Python, Go, C#<br>Docker, AWS and GCP, MySQL/Postgres, Mongo/DocDB, System Architecture</code></pre>
            <a class="button button-primary" href="/files/stutes-resume.pdf">View Resume</a>
            <a class="button button-primary" href="/experience">More work details</a>
            <hr class="spc-xl">
            <h5>Fun Stuff</h5>
            <div class="row">
                <div class="six columns">
                    <img class="u-max-full-width rounded-corners" src="images/dogs.jpeg" />
                    <p class="text-light text-small">Pictured: Rufus (left) and Disco (right)</p>
                </div>
                <div class="six columns">
                    <p>I live in Chicago with my partner and our two dogs. I like to hike, camp, kayak, ski, play tennis, walk my dogs (read: be outside), listen to podcasts/audiobooks, play video games, and learn new things. I strive to spend a most of my energy on things that make people's lives better (read: being a good manager).</p>
                </div>
            </div>
        </div>
    </div>
</div>
