<div class="section">
    <div class="row flex flex-h-center">
        <div class="column">
            <h5>Work Stuff</h5>
            <p>Hey &#128075; I'm Stutes!</p>
            <p>I'm an engineering leader with a breadth of experience in full-stack mobile and web development. I enjoy working on products that I believe in (positive social impact). Diversity (with an emphasis on belonging) and autonomy (in a healthy dose; my leaders have to lead at some point) are very important to me wherever I work. I'm a very open and direct communicator, I'm great at building trust and relationships, and I simply like to have fun and get shit done.</p>
                            <p>Looking for an engineering leadership role where I can use my unique combinaton of technical and people skills to drive business goals and scale the tech by building and maintaining <i>solid</i> teams.</p>
                            <strong>Tech and languages:&nbsp;</strong>
                            <pre><code>JavaScript, Swift, Kotlin, Ruby, HTML, CSS
                Docker, AWS and GCP, MySQL and Postgres</code></pre>
            <a class="button button-primary" href="/files/resume.pdf">View Resume</a>
            <a class="button button-primary" href="/experience">More work details</a>
            <hr class="spc-xl">
            <h5>Fun Stuff</h5>
            <div class="row">
                <div class="six column">
                    <img class="u-max-full-width rounded-corners" src="images/dogs.jpeg" />
                    <p class="text-light text-small">Pictured: Rufus (left) and Disco (right)</p>
                </div>
                <div class="six column">
                    <p>I live in Chicago with my wife and two dogs. I like to hike, camp, kayak, ski, walk my dogs (read: be outside), listen to podcasts, play video games, and learn new things. I have a passion for people and stive to spend a most of my energy on things that make people's lives better.</p>
                </div>
            </div>
        </div>
    </div>
</div>