<div class="section">
    <div class="row flex flex-h-center">
        <div class="column">
            <h5>Work Stuff</h5>
            <p>Software engineer with a breadth of experience and a desire to lead. I enjoy working on products that I believe in (positive social impact). Diversity and autonomy are very important to me; as are automation and testing. I'm a very open, honest, and direct communicator and being able to recieve and give feedback is crucial on my teams.</p>
            <p>Looking for an engineering manager role where I can use my teamwork and leadership skills to drive business goals, while helping my teammates learn and grow. I’m a quick learner and am open to working with technologies I haven’t used before.</p>
            <strong>Tech and languages:&nbsp;</strong>
            <pre><code>Ruby on Rails, HTML, CSS, JS, Goalng
Docker, Kubernetes, GCP, MySQL</code></pre>
            <a class="button button-primary" href="/files/resume.pdf">View Resume</a>
            <a class="button button-primary" href="/experience">More work details</a>
            <hr class="spc-xl">
            <h5>Fun Stuff</h5>
            <p>I like to hike, camp, kayak, ski, walk my dogs (read: be outside), listen to podcasts, play video games, and learn new things. I prefer people over computers, but sometimes just <i>barely</i>.</p>
            <img class="u-max-full-width rounded-corners" src="images/dogs.jpeg"/>
            <p class="text-light text-small">Pictured: Rufus (left) and Disco (right)</p>
        </div>
    </div>
</div>