<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/skeleton.css">
        <link rel="stylesheet" href="css/custom.css">
        <link rel="icon" type="image/png" href="images/rs.png">

        <meta charset="utf-8">
        <title>{{ page.title }} - Ryan Stutes</title>
        <meta name="description" content="{{ page.title }} page for Ryan Stutesman's personal website.">
        <meta name="author" content="Ryan Stutesman">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
    </head>
    <body class="container">
        <nav class="row navigation">
            <a class="navbar-link" href="/">Home</a>
            <a class="navbar-link" href="/experience">Experience</a>
            <a class="navbar-link" href="/contact">Contact</a>
        </nav>
        <div class="main-body">
            <div class="row">
                {{ content }}
            </div>
        </div>
        <script src="js/nav.js"></script>
    </body>
</html>